/* Main container */

.main-container {
    /*padding-bottom: 400px;*/
}

/* General */

.animation-placeholder p {
    padding: 10px 0;
    font-size: 16px;
}

.strike-through {
    text-decoration: line-through;
}

/* Anchor */

.anchor-navbar {
    /*position: fixed;*/
    z-index: 99999;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;

    /* fallback */
    background: #ffffff;

    /* Transparent bg */
    background: rgba(255, 255, 255, 0.9);

    /* Use background image instead */
    background-image: url(../images/Diamond-Eyes-White-Seamless-Textures.jpg);

    /*border: 1px solid red;*/
}

.anchor-navbar > nav {
    float: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*text-align: center;*/
}

.anchor-navbar.invisible {
    position: relative;
}

.anchor-navbar.invisible > nav {
    float: none;
}

/* Pagination */

/* https://www.w3schools.com/css/css3_pagination.asp */

.pagination.custom {
    float: right;
    margin: 0;
    padding: 0;
}

/*.pagination.custom > li {
    margin: 10px;
}*/

.pagination.custom > li > a,
.pagination.custom > li > span {
    border: none;
    color: #a8a9ab;
    background: none;
    /*border-top: 1px solid #ccc;
    margin: 3px;*/
}

.pagination.custom > li:first-child > a,
.pagination.custom > li:last-child > a,
.pagination.custom > li:first-child > span,
.pagination.custom > li:last-child > span {
    border-radius: 0;
}

.pagination.custom > li > a:hover,
.pagination.custom > li > span:hover {
    color: #000000
}

.pagination.custom > li.active > a,
.pagination.custom > li.active > span {
    background: #cccccc;
    color: #000000;
    /*border: 1px solid #cccccc;*/
}

/* Sections */

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    /*padding-bottom: 40px;*/
    /*border: 1px solid black;*/
}

section div.sub-section {
    padding-bottom: 40px;
    display: block;
    position: relative;

    /*border: 1px solid black;*/
}

section div.sub-section:last-child { /* does not work when you have inline js */
    padding-bottom: 0;
    /*border: 10px solid blue;*/
}

.section-container {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    padding-left: 50px;
    padding-right: 50px;
}

.section-paragraph {
    padding-top: 20px;
}

.full-screen {
    /*height: 100%;  makes panels the entire window height */

    /* force the fullsceen height to grow for longer contents */
    /* http://stackoverflow.com/questions/42225359/css-how-to-force-a-fullsceen-height-to-grow-for-longer-contents */
    /* vh = viewport height || CSS3 */
    min-height: 100vh;
}

/* Animation stuff */

.button-home-anchor {
    display: inline-block;
    width: 160px;
    padding: 5px;
    visibility: hidden;
}

.anchor {
    display: block;
    position: absolute;
    top:0;
    left:0;
    color: #000;
    z-index: 999999;
    visibility: hidden;
    /*border: 1px solid black;*/
}

.trigger {
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    z-index: 999999;
    visibility: hidden;
    /*border: 1px solid black;*/
}

.trigger.center {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -25px;
    margin-top: -10px;
}

.animation-placeholder {
    position: relative;
    /*border: 1px solid red;*/
}

.animation-placeholder img {
    margin: 0 auto;
}

div.diagonal-container {
    /*border: 1px solid #000;*/
    width: 300px;
    height: 300px;
    margin: 40px auto 20px auto;
}

.to-right {
    background: linear-gradient(-65deg, transparent calc(50% - 1px), #666 50%, transparent calc(50% + 1px));
}

.to-left {
    background: linear-gradient(65deg, transparent calc(50% - 1px), #666 50%, transparent calc(50% + 1px));
}

.to-verticle {
    background: linear-gradient(90deg, transparent calc(50% - 1px), #666 50%, transparent calc(50% + 1px));
}

/* Carousal */

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* arrow */

.up-down-arrow {
    font-family: "Futura PT Book", Arial, sans-serif;
    font-size: 50px;
    color: #666;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    display: inline-block;
    /*border: 1px solid blue;*/
}

/* http://stackoverflow.com/questions/42409004/css-up-down-arrow */

.animation-placeholder-arrow {
    margin-top: 60px;
}

.arrow-container {
    display: inline-block;
    position:relative;
    height:320px;
    border-left:1px solid #666;
}

.arrow-container .arrow {
    position:absolute;
    left:-5px;
    width: 9px;
    height: auto;
    fill: #666;
}

.arrow-container .arrow.up{
    top:-9px;
}

.arrow-container .arrow.down{
    bottom:-9px;
}

/* Heading side by side */

.heading-side-by-side span {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 0 10px;
}

.heading-side-by-side span:last-child {
    border-left: 1px solid #666;
     float: none;
}

/* Related posts */

.related-container {
    width: 34%;
    text-align: left;
    position: absolute;
    top: 0;
    right: -36%;
    border-top: 1px solid #666;
}

.heading-related {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    /*border: 1px solid red;*/
}

ul.related-items {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

ul.related-items li.related-item {
    text-align: left;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

ul.related-items li.related-item div {
    /*padding: 5px;*/
}

ul.related-items li.related-item div img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ul.related-items li.related-item div a {
    padding: 10px;
    color: #7f7f7f;
    text-decoration: none;

    /* Left center*/
    /* http://stackoverflow.com/questions/5703552/css-center-text-horizontal-and-vertical-inside-a-div-block */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ul.related-items li.related-item div a:hover {
    color: #000000;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .related-container {
        display: none;
    }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1420px) {
    .related-container {
        display: block;
    }
}
